<h1>Articles</h1>

<%= link_to "Top-10 active users", users_path %>

<h3>There are <%= Article.public_count %> public articles</h3>

<%= form_with url: articles_path, method: :get, local: true do |form| %>
  <%= form.text_field :query, placeholder: "Search articles...", value: params[:query] %>
  <%= form.submit "Find" %>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <% unless article.public? %>
        <i><%= link_to article.title, article %></i> - <%= article.status %>
      <% else %>
        <%= link_to article.title, article %>
      <% end %>
      <p style="color: #222; margin-top: 4px; margin-bottom: 4px;"><%= article.likes.count %> likes</p>
      <p style="color: #555; margin-top: 16px; margin-bottom: 16px;"><%= truncate(article.body, length: 50) %></p>
    </li>
  <% end %>
</ul>

<%= will_paginate @articles, previous_label: "« Previous |", next_label: "| Next »" %><br>

<% if policy(Article).new? %>
  <%= link_to "New Article", new_article_path %>
<% else %>
  <h2>Please log in to create articles</h2>
<% end %>
